
.app-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

}

.app-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 75vw;
  padding-top: 5rem;

}

/* .navbar {
  display: flex;
  height: 5rem;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  flex-wrap: wrap;
  background-color: rgb(28, 31, 42);
  border-bottom: 1px solid #385663;
  box-shadow: 0 8px 16px rgba(231, 231, 231, 0.2);
  min-width: 100vw;
  z-index: 1000;
  
}

.navbar .nav-menu ul {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  flex-wrap: nowrap;
}


.navbar .nav-menu ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
} 


.navbar .nav-menu ul li a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  border-bottom: 2px solid transparent;
  transition: 0.4s;
}

.navbar .nav-menu ul li a:hover{
  background-color:#476e7f;
  border-radius: 2px;
  padding: 10px 10px;
  transition: 0.4s;
}
 */
