* {
    box-sizing: border-box;
    }
  

.transact-body {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin-left: 2rem;
    margin-right: 2rem;
    }

.left-body {
    padding: 1rem;
}    
.right-body {
    padding: 1rem;
    width: 50%
}
.headers {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 2rem;
    align-items: flex-end;
    }
  
.headers h1 {
    margin: 0;
    padding-right: 0.2rem;
    }
  
.headers .info h3,
.headers .info p {
    margin: 0 auto;
    padding-left: 0.3rem;
    }
  
form {
    display: flex;
    margin-bottom: 1rem;
    font-size: 16px;
    padding: 1rem;
    box-shadow: 0 8px 16px rgba(231, 231, 231, 0.2);
    }
  
form input {
    background-color: transparent;
    color: #ccccccee;
    padding: 2px 5px;
    border: 2px solid #30313d;
    border-radius: 5px;
    }
  
form label {
    font-size: 16px;
    }
  
form input, label {
    width: 100%;
    justify-content: center;
    align-items: center;
    }
  
form button {
    width: 100%;
    }
  
.basicInfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 5px;
    }
  
.description {
    margin-bottom: 5px;
    }
  
.transactions {
    display: flex;
    gap: 2rem;
    width: 100%;
    justify-content: space-between;
    border-top: 2px solid #30313d;
    }
  
.transactions .name {
    font-size: 18px;
    color: white;
    }
  
.transactions .description {
    color: gray;
    }
  
.right {
    text-align: right;
    }
  
svg.edit-delete {
    background-color: #8a8f98;
    border-radius: 5px;
    cursor: pointer;
    margin: 0.1rem;
    }

.budget-selector {
    width: 100%;
    margin-bottom: 0.5rem;
}

.budget-selector select {
    width: 100%;
    text-align: center;
    padding: 0.1rem;
    border-radius: 5px;
    color: white;
    font-size: 13px;
    background-color: #30313d;
    cursor: pointer;
}

.budget-selector select:hover {
    background-color: #2c3948;
}